@font-face {
    font-family: "Poppins-Regular";
    src:
        local("Poppins-Regular"),
        url("../assets/fonts/poppins-regular/Poppins-Regular.ttf") format("truetype"),
        url("../assets/fonts/poppins-regular/Poppins-Regular.woff") format("woff"),
        url("../assets/fonts/poppins-regular/Poppins-Regular.woff2") format("woff2");

}

@font-face {
    font-family: "Roboto-Regular";
    src: 
        local("Roboto-Regular"),
        url("../assets/fonts/roboto-regular/Roboto-Regular.ttf") format("truetype"),
        url("../assets/fonts/roboto-regular/Roboto-Regular.woff") format("woff"),
        url("../assets/fonts/roboto-regular/Roboto-Regular.woff2") format("woff2");
}

body{
    margin: 0 0;
    font-family: "Roboto-Regular";
}

#backgroundImage{
    background-image : url("../images/background.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    display: grid;
    place-items: center;
    z-index: 1;
}

#backgroundImage::after{
    content: '';
    background-color: ghostwhite;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
}

#conteudo{
    width: 50vh;
    height: 50vh;
    border-radius: 6px;
    background: rgb(119, 121, 245);
    background: linear-gradient(180deg, rgba(119, 121, 245,1) 0%, rgba(168,56,229,1) 100%) ;
    box-shadow: 4px 4px 10px 0px 
}

#conteudo p{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    
}

.imageUsuario{
    font-size: 6vh;
    color: #333333;
    margin: 8vh auto auto auto;
    display: flex
;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
}

input[type="text"], input[type="password"]{
    font-family: "Poppins-Regular";
    color: #000000;
    font-size: 16px;
    display: block;
    width: 75%;
    border-radius: 6px;
    background: transparent;
    margin: 2vh auto;
    border: 1px solid #fff;
    text-align: center;
    height: 45px;

}

input[type="text"]:hover, input[type="password"]:hover{
    background-color: ghostwhite;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: #fff;
    opacity: 0.8;
}

input[type="text"]:hover::placeholder, input[type="password"]:hover::placeholder{
    color:#000000;
}

.grupoBotoes{
    margin: 3vh 4vh 0 5vh;
}

.botaoPadrao{
    font-family: "Roboto-Regular";
    color: #000000;
    border-color: #FFF;
    text-align: center;
    width: 20vh;
    border-radius: 6px ;
    border: 1px solid transparent;
    padding: 0.75rem 0.75rem;

}

.botaoPadrao:hover{
    background-color: ghostwhite;
    border-color: #b3b3b3;
    opacity: 0.8;
}

.botaoLimpar{
    background-color: #c291e8;
    border-color: #c291e8;
    color: #FFF;
}

.botaoLimpar:hover{
    background-color: #422a91;
    border-color: #422a91;
}

.botaoEntrar{
    background-color: #4351e8;
    border-color: #4351e8;
    color: #fff;

}

.botaoEntrar:hover{
    background-color: #212873;
    border-color: #212873;
}


































































































